In [203]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [241]:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set()
import re

In [242]:
import obboylib

In [243]:
assets = ['BATBC','BRACBANK']
df = obboylib.get_data_column(assets)

In [244]:
df

              BATBC  BRACBANK
tick_date
2000-01-01    34.43       NaN
2000-01-02    34.33       NaN
2000-01-03    33.30       NaN
2000-01-04    33.30       NaN
2000-01-06    37.00       NaN
...             ...       ...
2020-12-23  1078.30      43.0
2020-12-24  1078.40      44.3
2020-12-27  1108.80      45.7
2020-12-28  1121.70      44.8
2020-12-29  1159.80      44.5

[5060 rows x 2 columns]

In [245]:
obboylib.get_data('BRACBANK')

             open   high    low  close     volume
tick_date
2007-02-01   5.82   6.16   5.25   6.06  121064240
2007-02-02   6.16   6.79   6.16   6.62   66192508
2007-02-03   6.61   6.80   6.50   6.73   49693172
2007-02-05   6.66   7.42   6.61   7.36   49327204
2007-02-07   7.41   7.60   7.02   7.11   44234072
...           ...    ...    ...    ...        ...
2020-12-23  43.20  43.30  42.20  43.00     716285
2020-12-24  43.10  44.50  42.60  44.30     865787
2020-12-27  44.50  45.90  44.10  45.70     864820
2020-12-28  45.70  45.90  44.50  44.80     747787
2020-12-29  45.20  45.30  44.10  44.50     667050

[3289 rows x 5 columns]

In [232]:
obboylib.get_data('BATBC')

           open  high   low close volume
tick_date
NaT        None  None  None  None   None

In [220]:
obboylib.get_symbols()

Series([], Name: symbols, dtype: string)